<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="flex-container">
    <div class="container">
            <h1>LISTINGS</h1>
            <p class="lead">Total listings are <strong><%= data %></strong> and counting more...</p>
            
            <!-- Begin Form-->
            <form method="POST" action="/search">                
                <input type="text", name="min" class="form" placeholder="Min Price">
                <input type="text", name="max" class="form" placeholder="Max Price">
                <button>Search</button>
            </form> <!-- End Form-->

            <br>
            <br>
            <hr>

            <!-- Begin Result-->
            <h1>Result</h1>
            
            <% if ( resultCount > 0) { %>
                <p>Found <%= resultCount %> properties that match your search critera.</p>
           <% } %>

            <br>

            <div>
                <li>Address: <%= address %></li>
                <li>City: <%= city %></li>
                <li>State: <%= state %></li>
                <li>Zipcode: <%= zipcode %></li>
                <li>Price: <%= price %></li>
                <li>Size: <%= size %></li>
                <li>Room: <%= room %></li>
                <li>Bathroom: <%= bathroom %></li>
            </div>
    </div>
</div>


